/*footer - stopka*/

footer {
  margin: 10px 0;
  .content_foter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1.6rem;
      opacity: 0.5;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      :last-of-type p {
        font-weight: 600;
        float: right;
      }
      li {
        display: inline-block;
      }
    }
  }



}