header {
  background: black;
  color: white;
  nav .col {
    width: 50%;
    padding: 20px 0;
  }
}

nav {
  ul li {
    display: inline-block;
    float: right;
    margin: 0 25px;
    position: relative;
    padding: 5px;
    &:hover .dropdown {
      opacity: 1;
      transition: 1s;
    }
  }
  .dropdown {
    background: black;
    position: absolute;
    padding: 10px;
    top: 60px;
    opacity: 0;
    z-index: 2;
    li {
      float: left;
    }
    &::before {
      left: calc(50% - 10px);
      top: -10px;
      content: "";
      transform: rotate(45deg);
      width: 20px;
      height: 20px;
      background: black;
      z-index: 3;
      position: absolute;
    }
  }
  a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
  }
  p {
    font-weight: 700;
  }
  span {
    color: $main-color;
    font-weight: 700;
  }
}