header {
  background: black;
  color: white;
  padding: 10px 0;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
      display: none;
      li {
        display: inline-block;
        position: relative;
        padding: 5px;
        margin: 0 10px;
        font-size: 2.3rem;
        a {
          text-decoration: none;
          font-weight: 700;
          color: white;
          text-transform: uppercase;
        }
        &:hover .dropdown {
          opacity: 1;
          transition: 1s;
        }
      }
    }

    .dropdown {
      left: -20px;
      background: black;
      position: absolute;
      padding: 10px;
      top: 60px;
      opacity: 0;
      z-index: 2;
      li {
        float: left;
        font-size: 1.2rem;
      }
      &::before {
        display: block;
        left: calc(50% - 10px);
        top: -10px;
        content: "";
        transform: rotate(45deg);
        width: 20px;
        height: 20px;
        background: black;
        z-index: 3;
        position: absolute;
      }
    }

    p {
      margin: 0 auto;
      font-size: 2.3rem;
      font-weight: 700;
      span {
        font-size: 2.3rem;
        color: $main-color;
        font-weight: 700;
      }
    }
  }

  @media only screen and (min-width:600px) {
  nav {
    ul {
      display: block;
    }
    p {
      margin: 0;
    }
  }
  }
  }