/*main conttent */

.baner {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+69,f6f6f6+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 69%, #f6f6f6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 69%, #f6f6f6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 69%, #f6f6f6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
  /* IE6-9 */
  .baner_content {
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
      .arrow {
        width: 10%;
        color: $main-color;
        font-size: 7.2rem;
        font-weight: 500;
      }
      .slider {
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        li {
          display: none;
          list-style: none;
          //display: flex;
          justify-content: space-between;
          align-items: center;
          .image {
            width: 40%;
            text-align: center;
          }
          .text {
            justify-content: space-between;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 0 10px;
            h1 {
              margin: 5px 0;
              text-align: center;
              font-size: 4.2rem;
              font-weight: 700;
              span {
                color: $main-color;
                font-size: 4.2rem;
                font-weight: 700;
              }
            }
            p {
              font-size: 1.8rem;
              text-align: center;
              clear: both;
            }
            a {
              @include btnPrimary($main-color, white);
            }
          }
        }
        .visible{
          display: flex;
        }
      }
    }
}

/* Products */
.products {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 20px 0;
  .col {
    width: 30%;
    min-height: 250px;
    position: relative;
    &:first-of-type {
      background: url(../images/box1_img.jpg) no-repeat (center / cover);
    }

    &:nth-of-type(2) {
      background: url(../images/box2_img.jpg) no-repeat (center / cover);

    }
    &:last-of-type {
      background: white;
    }
    .title {
      background: white;
      opacity: 0.5;
      position: absolute;
      width: 100%;
      padding: 10px;
      bottom: 10px;
    }
  }
}
  h2, h3 {
    border-bottom: 5px solid $main-color;
    display: inline-block;
    min-width: 170px;
    font-size: 1.8rem;
  }
  .products .col p {
    margin: 10px 0;
    font-weight: 300;
    font-size: 1.4rem;
  }
  .chair:hover {
    transform: scale(1.05);
      .title {
        display: none;
      }
  }
/*List of products*/

.productsList {
  padding: 20px 0;
  background: #efefef;
  .productsListContent{
    justify-content: space-between;
    align-items: center;
    display: flex;
    .col {
      width: 31%;
      min-height: 450px;
      position: relative;
      border: 1px solid lightgray;
      margin: 80px 0;
      text-align: center;
      background: white;
      &::before {
        left: calc(50% - 35px);
        top: -50px;
        content: "";
        width: 50px;
        height: 50px;
        background: #c4c4c4;
        z-index: 2;
        border: 10px solid white;
        position: absolute;
        border-radius: 50%;
        box-shadow: 0 0 0 1px lightgray;
      }

      header {
        background: white;
        color: $main-color;
        text-align: center;
        font-size: 2.8rem;
        margin: 30px 0;
        text-transform: uppercase;
        font-weight: 700;
      }
      .circle {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid lightgray;
        border-radius: 50%;
        margin: 0 118px;
        height: 100px;
        text-align: center;
        p:first-of-type{
          margin-top: 10px;
          font-size: 3.2rem;
          color: grey;
        }
        p:last-of-type {
          font-size: 1rem;
          color: grey;
        }

      }
      .text {
        margin: 20px 0;
        p {
          font-size: 1.6rem;
          color: grey;
          &:first-of-type {
            padding: 10px;
            background: #c4c4c4;
          }
          &:nth-of-type(2) {
            padding: 10px;
            background: #e0e0e0;
          }
        }
      }
      a {
        @include btnPrimary($main-color, white);
      }
    }
    .col:nth-of-type(2) {
        background-color: $main-color;
      &::before {
        background-color: $main-color;
      }
        header {
          color: white;
          background-color: $main-color;
        }
        .circle {
          background-color: white;
            p:first-of-type {
              margin-top: 10px;
            }
            p {
              color: $main-color;
            }
        }
        a {
          @include btnPrimary(white, $main-color);
        }
    }

  }


}